.slider
    max-width: 100%
.t1
    color: red
.t2
    font-size: 80px
    font-weight: bold
.s2img 
    max-width: 100%
    position: relative
.t-img
    position: absolute
    top: 45%
    left: 35%
    color: white
    font-size: 30px
.s3img
    max-width: 100%
