ul
    display: flex
    justify-content: space-around
    margin-left: 20%
    margin-right: 20%
    a
        text-decoration: none
        color: black

        li
            display: flex
            justify-content: space-around
            list-style: none
   
            li
                list-style: none
                display: flex
                justify-content: space-around
    